@import 'src/styles/mixins';

.form {
  width: 100%;
  margin-top: 30px;

  .formBlock {
    width: 100%;
    height: 100%;
    margin-bottom: 16px;

    label {
      display: block;
      margin-top: 20px;
      margin-bottom: 10px;
      font-weight: 600;
      color: var(--gray800);
    }

    .genderLabel {
      margin-top: 0;
      margin-bottom: 0;
      display: inline-block;
    }
  }

  input:not([type='checkbox'], [type='radio']) {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid var(--gray300);
    background-color: var(--white);
    @include t5;

    &:focus {
      border-color: var(--blue400);
    }

    &.error {
      border-color: var(--error);
    }
  }

  .birthdateDropdowns {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;

    select {
      flex: 1;
      padding: 8px;
      border-radius: 6px;
      border-color: var(--gray300);
      color: var(--gray800);
      cursor: pointer;
      @include t5;

      &:hover {
        border-color: var(--gray500);
      }

      &:focus {
        border-color: var(--blue100);
        box-shadow: 0 0 1px 2px rgba(59, 153, 252, 0.5);
      }
    }
  }

  .genderRadio {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px 0 20px;

    .genderBlock {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;

      input[type='radio'] {
        position: absolute;
        opacity: 0;

        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid var(--gray100);
        background-color: var(--white);

        &:checked + label::before {
          content: '';
          border-width: 5px;
          border-color: var(--blue400);
          background-color: var(--white);
        }
      }

      .genderLabel {
        position: relative;
        padding-left: 25px;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);

          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 2px solid var(--gray300);
          background-color: var(--white);
        }
      }
    }
  }

  .errorMsg {
    margin-top: 8px;
    font-weight: 500;
    color: var(--error);
  }

  .flexBlock {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 16px;

    input {
      flex: 1;
      margin-bottom: 0;
      padding: 8px;
    }

    .userNameBtn {
      font-weight: 600;
      border-radius: 6px;
      @include StyledButton(small, success, success);
      @include t6;
    }
  }

  .btnBlock {
    margin: 40px 0;

    .submitBtn {
      width: 100%;
      font-weight: 600;
      border-radius: 6px;
      @include StyledButton(large, success, null);
    }
  }
}

@include mobile {
  .form {
    margin-top: 20px;

    .formBlock {
      margin-bottom: 8px;
      @include t6;
    }

    label {
      margin-bottom: 5px;
    }

    input:not([type='checkbox']) {
      padding: 8px;
      @include t6;
    }

    .birthdateDropdowns {
      select {
        padding: 6px;
        @include t6;
      }
    }

    .flexBlock {
      .userNameBtn {
        @include t7;
      }
    }

    .btnBlock {
      margin: 30px 0;

      .submitBtn {
        font-weight: 600;
        border-radius: 6px;
        @include StyledButton(medium, success, null);
      }
    }
  }
}
