@import 'src/styles/mixins';

.reservationList {
  width: 100%;
  margin: 0 auto;
  padding: 20px;

  .reservationTitle {
    margin-bottom: 16px;

    h2 {
      font-weight: 600;
      @include t2;
    }
  }

  .noReservationsMsg {
    padding-top: 10px;
    color: var(--gray800);
    font-weight: 500;
    @include t5;
  }

  .reservations {
    display: flex;
    flex-direction: column;
  }
}
