@import 'src/styles/mixins';

.socialButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    box-shadow: none;
  }

  small {
    color: var(--gray800);
    font-weight: 600;
    @include t8;
  }
}
