@import 'src/styles/mixins';

.dayPicker {
  margin: 0;

  --rdp-cell-size: 50px;
  --rdp-caption-font-size: 22px;
  --rdp-background-color: transparent;

  --rdp-accent-color: var(--blue80);
  --rdp-accent-color-dark: var(--blue400);
  --rdp-background-color-dark: var(--blue400);

  td button {
    box-shadow: none;
  }

  tr td:first-child {
    color: var(--red400);
  }

  button:not(td button) {
    border: 1px solid var(--gray300);

    &:hover {
      background-color: var(--gray80) !important;
    }
  }

  table {
    margin: 40px 0;
  }

  .selected {
    font-weight: bold;
    outline: auto var(--blue100);
    background-color: var(--blue80);
  }

  .today {
    position: relative;
    background-color: transparent;
    font-weight: bold;

    &::after {
      content: '';
      position: absolute;
      bottom: 5px;
      width: 5px;
      height: 5px;
      border-radius: 50px;
      background-color: var(--red400);
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    border-radius: 6px;
  }

  .reset {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    padding: 10px 12px;
    border-radius: 50px;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.2);
    font-weight: 600;
    @include t7;

    &:hover {
      font-weight: 700;
    }
  }

  .complete {
    padding: 11px 20px;
    border: 2px solid var(--blue100);
    border-radius: 50px;
    color: var(--black);
    background-color: var(--blue80);
    @include t4;

    &:hover {
      background-color: var(--white);
    }
  }
}
