@import 'src/styles/mixins';

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  box-shadow: none;
}

.label {
  color: var(--gray800);
  font-weight: 600;
  @include t8;
}
