@import 'src/styles/mixins';

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  background-color: var(--white);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

  nav {
    margin: 0px auto;
    width: calc(100% - 10%);
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px 0;

    .logo {
      width: 120px;
      vertical-align: middle;
    }
  }

  .navItem {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    gap: 8px;
    height: 100%;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .userLogBtn {
      border-radius: 8px;
      color: var(--white);
      background-color: var(--blue400);
      @include StyledButton(small, null, null);

      &:hover {
        background-color: var(--blue500);
      }
    }
  }
}

@include mobile {
  header {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

    nav {
      height: 60px;

      .logo {
        width: 90px;
      }
    }
  }
}
