@import 'src/styles/mixins';

.starRating {
  display: flex;
  align-items: center;
  gap: 5px;

  strong,
  span {
    font-weight: 700;
    color: var(--gray800);
    @include t3;
  }
}

@include mobile {
  .starRating {
    strong,
    span {
      font-weight: 600;
      @include t4;
    }
  }
}
