@import 'src/styles/mixins';

.mainSlide {
  position: relative;
  width: 100%;

  img {
    height: 640px;
    border-radius: initial;
  }

  .carousel {
    --swiper-navigation-size: 45px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 30px;
  }

  .slideInfo {
    width: 100%;
    height: 130px;
    padding: 0 40px;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    opacity: 0.8;
    box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.1);
  }

  .slideTitle {
    h2 {
      margin-bottom: 4px;
      font-weight: 500;
      @include t1;
    }

    h3 {
      @include t6;
      color: var(--gray800);
    }
  }

  .starRatingWrap {
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-top: 5px;
    margin-left: -4px;

    svg {
      width: 20px;
      height: 20px;
    }

    .starRating {
      strong,
      span {
        font-weight: 700;
        color: var(--gray800);
        @include t6;
      }
    }

    .goToReviewBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
      margin-left: 3px;
      font-weight: 600;
      line-height: normal;
      box-shadow: none;

      span {
        @include t6;
        font-weight: 700;
        color: var(--blue600);
      }
    }
  }

  .slideSocial {
    display: flex;

    .socialButtons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }

  .pagination {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;

    padding: 5px 20px;
    border: 1px solid var(--gray300);
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.25);
    font-weight: 600;
    @include t5;
  }
}

@include mobile {
  .mainSlide {
    img {
      height: 440px;
    }

    .carousel {
      --swiper-navigation-size: 25px;
      --swiper-navigation-sides-offset: 20px;
    }

    .slideInfo {
      flex-wrap: wrap;
      height: 100px;
      padding: 10px 20px;
    }

    .slideTitle {
      h2 {
        margin-bottom: 8px;
        font-weight: 600;
        @include t4;
      }

      h3 {
        display: none;
      }
    }

    .starRatingWrap {
      gap: 3px;
      margin-top: 5px;
      margin-left: -4px;

      svg {
        width: 18px;
        height: 18px;
      }

      .starRating {
        strong,
        span {
          @include t7;
        }
      }

      .goToReviewBtn {
        font-weight: 500;

        span {
          @include t7;
        }
      }
    }

    .slideSocial {
      .socialButtons {
        gap: 8px;
        padding-top: 5px;

        svg {
          width: 28px;
          height: 28px;
        }

        small {
          font-weight: 500;
          color: var(--gray700);
          display: none;
        }
      }
    }

    .pagination {
      padding: 4px 12px;
      @include t6;
    }
  }
}
