@import 'src/styles/mixins';

.roomItem {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid var(--blue100);
  box-shadow: 0px 2px 4px 0px rgba(33, 37, 41, 0.1);
  background-color: var(--blue50);

  .mainContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 10px;
    padding-left: 25px;

    .mainContentTitle {
      h2 {
        margin-bottom: 14px;
        font-weight: 700;
        @include t4;
        color: var(--gray700);
      }
    }

    .roomInfo {
      display: flex;
      flex-direction: column;
    }

    .roomInfoLIst {
      margin-left: 15px;

      li {
        position: relative;
        margin-bottom: 1px;
        color: var(--gray600);
        @include t7;

        &::before {
          @include pointCircle;
          top: 6px;
          left: -12px;
          width: 6px;
          height: 6px;
          background-color: var(--blue100);
        }
      }
    }
  }

  .leftContent {
    display: flex;
    flex-direction: column;
    width: 230px;
    width: 40%;

    img {
      height: 180px;
      border-radius: 4px;
    }

    .carousel {
      --swiper-navigation-size: 20px;
      --swiper-navigation-top-offset: 50%;
      --swiper-navigation-sides-offset: 15px;
    }
  }

  .rightContent {
    position: relative;
    padding: 0 10px 20px 30px;
    border-left: 1px solid var(--blue80);

    .roomDetailBtn {
      position: absolute;
      right: 0px;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      white-space: nowrap;
      font-weight: 800;
      @include t7;
      letter-spacing: -1px;
      box-shadow: none;
      color: var(--blue600);

      &:hover {
        text-decoration: underline;
      }
    }

    .flexBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 6px;
      height: 100%;
      margin-top: 10px;
    }

    .selectBtn {
      border-radius: 6px;
      @include StyledButton(medium, null, success);
      box-shadow: none;
      padding: 6px 10px;
      @include t7;
    }

    .price {
      font-weight: 700;
      @include t4;
      color: var(--gray700);
    }
  }
}
