@import 'src/styles/mixins';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  width: 370px;
  height: 100%;
  padding: 4px 32px;
  cursor: pointer;

  &:hover {
    border-radius: 50px;
    background-color: var(--blue50);
  }

  .selectorLabel {
    @include t6;
    font-weight: 600;
  }

  .selectedResult {
    width: calc(100% - 20%);
    color: var(--blue500);
    font-weight: bold;
    @include t4;
    @include truncate;

    &.base {
      color: var(--gray400);
    }
  }

  .flexBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .iconArrow {
    transform: rotate(90deg);
  }
}

@include mobile {
  .container {
    width: 100%;
    padding: 15px 34px;
    background-color: var(--white);
    border-radius: 50px;
    margin-bottom: 15px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: var(--white);
    }

    .selectorLabel {
      @include t7;
    }

    .selectedResult {
      color: var(--blue500);
      font-weight: bold;
      @include t5;

      &.base {
        color: var(--gray400);
      }
    }
  }
}
