@import 'src/styles/mixins';

.loginContainer {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--blue50);
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  margin: 0 auto;
}

.formTitle {
  width: 100%;
  padding-top: 100px;
  text-align: center;
  color: var(--gray800);

  h2 {
    letter-spacing: 10px;
    text-indent: 14px;
    font-weight: bold;
    @include t2;
  }

  h3 {
    margin-top: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    @include t3;
  }
}

.snsLoginContainer {
  width: 100%;
  margin-top: 40px;

  strong {
    font-weight: 500;
  }

  .snsLogin {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      height: 52px;
      border-radius: 10px;
      font-weight: 600;
    }

    .google {
      border: 1px solid var(--gray100);
      background-color: var(--white);
    }

    .kakao {
      background-color: #ffde00;
    }

    .naver {
      color: var(--white);
      background-color: #00c73c;
    }
  }
}
