@import 'src/styles/mixins';

.mainRecommend {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  .stayRecommend {
    margin-bottom: 50px;
  }

  .recommendTitle {
    margin-top: 40px;
    margin-bottom: 12px;

    h2 {
      font-weight: 600;
      @include t2;
    }
  }
}
