@import 'src/styles/mixins';

.reservationForm {
  width: 100%;
  margin: 0 auto;
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px 20px 60px;

  .reservationTitle {
    width: 100%;
    padding: 20px 0px 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-weight: 600;
      @include t2;
    }
  }

  .contents {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
  }

  .contentsBody {
    width: 800px;
  }
}

@include mobile {
  .inner {
    .reservationTitle {
      h2 {
        @include t3;
      }
    }

    .contents {
      flex-wrap: wrap;
    }
  }
}
