@import 'src/styles/mixins';

.searchResultContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.resultTitle {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;

  h2 {
    font-weight: 600;
    @include t2;
  }
}

.resultList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 20px;
  margin-left: 20px;
}
