@import 'src/styles/mixins';

.stayListContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  .stayListTitle {
    margin-top: 40px;
    margin-bottom: 20px;

    h2 {
      font-weight: 600;
      @include t2;
    }
  }

  .stayItemWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
