@import 'src/styles/mixins';

.stayItem {
  width: 50%;
  margin-bottom: 40px;
}

.stayItemInner {
  display: flex;
  height: 200px;
  overflow: hidden;
  gap: 40px;
}

.mainContent {
  width: 70%;

  img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
}

.rightContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  h3 {
    margin-bottom: 10px;
    font-weight: 500;
    @include t3;
  }

  .flexRowContainer {
    .stayPrice {
      @include t5;
    }

    .reservationBtn {
      display: block;
      margin-top: 20px;
      border-radius: 4px;
      @include StyledButton(small, success, null);
    }
  }
}
