@import 'src/styles/mixins';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;

  button {
    box-shadow: none;
  }

  .iconArrow:hover {
    color: var(--blue300);
  }

  .left {
    transform: rotate(180deg);
  }

  .pageNumbers {
    display: flex;
    gap: 10px;

    button {
      width: 35px;
      height: 35px;
      color: var(--blue400);
      background-color: var(--white);
      border-radius: 999px;
      @include t6;
      line-height: 1;

      &:hover {
        color: var(--blue300);
        background-color: var(--white);
      }
    }

    .active {
      color: var(--white);
      background-color: var(--blue400);

      &:hover {
        color: var(--white);
        background-color: var(--blue400);
      }
    }
  }
}
