@import 'src/styles/mixins';

.reviewContainer {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.reviewTitle {
  width: 100%;
  padding: 20px 0px 16px;
  display: flex;
  align-items: center;

  h2 {
    margin-right: 5px;
    font-weight: bold;
    @include t3;
  }
}

@include mobile {
  .reviewTitle {
    h2 {
      margin-right: 5px;
      font-weight: 600;
      @include t4;
    }
  }
}
