$t1: 1.875rem; // 30px
$t2: 1.625rem; // 26px
$t3: 1.375rem; // 22px
$t4: 1.25rem; // 20px
$t5: 1.0625rem; // 17px
$t6: 0.9375rem; // 15px
$t7: 0.8125rem; // 13px
$t8: 0.75rem; // 12px

@mixin t1 {
  font-size: $t1;
  line-height: 1.3;
}

@mixin t2 {
  font-size: $t2;
  line-height: 1.35;
}

@mixin t3 {
  font-size: $t3;
  line-height: 1.4;
}

@mixin t4 {
  font-size: $t4;
  line-height: 1.45;
}

@mixin t5 {
  font-size: $t5;
  line-height: 1.5;
}

@mixin t6 {
  font-size: $t6;
  line-height: 1.5;
}

@mixin t7 {
  font-size: $t7;
  line-height: 1.5;
}

@mixin t8 {
  font-size: $t8;
  line-height: 1.5;
}
