@mixin srOnly {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

@mixin pointCircle {
  content: '';
  position: absolute;
  top: 0px;
  left: -4px;
  width: 7px;
  height: 7px;
  border-radius: 999px;
  background-color: var(--blue100);
}
