@mixin srOnly {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

@mixin pointCircle {
  content: '';
  position: absolute;
  top: 0px;
  left: -4px;
  width: 7px;
  height: 7px;
  border-radius: 999px;
  background-color: var(--blue100);
}

@mixin dropdown {
  position: absolute;
  top: 90px;
  max-height: 500px;
  border-radius: 34px;
  overflow-y: auto;
  background-color: var(--white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: fadeInDown 0.3s ease-in-out;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

@mixin dropdownInner {
  width: 100%;
  padding: 25px;
  overflow-y: auto;
}
