@charset 'utf-8';

:root {
  --white: #fff;
  --black: #000;
  --success: #2b96ed;
  --warning: #ffbf00;
  --error: #fa5b4a;
  --gray60: #f5f6f7;
  --gray50: #f8f9fa;
  --gray80: #f1f3f5;
  --gray100: #e9ecef;
  --gray200: #dee2e6;
  --gray300: #ced4da;
  --gray400: #adb5bd;
  --gray500: #848c94;
  --gray600: #666d75;
  --gray700: #495056;
  --gray800: #343a40;
  --gray900: #212529;
  --blue50: #f5fbff;
  --blue80: #e7f4fd;
  --blue100: #cbe7fd;
  --blue200: #a7d4f9;
  --blue300: #79bef5;
  --blue400: #51abf3;
  --blue500: #2b96ed;
  --blue600: #1583db;
  --blue700: #0a70c2;
  --blue800: #025ba5;
  --blue900: #01457d;
  --green50: #e6f8f3;
  --green80: #d7f6ee;
  --green100: #94e7d1;
  --green200: #71d2b8;
  --green300: #58caab;
  --green400: #33b893;
  --green500: #27ab86;
  --green600: #1c9674;
  --green700: #137b5e;
  --green800: #10634c;
  --green900: #0a4534;
  --yellow50: #fff8e1;
  --yellow80: #fff2c6;
  --yellow100: #ffe182;
  --yellow200: #ffd74e;
  --yellow300: #ffc929;
  --yellow400: #ffbf00;
  --yellow500: #ffad01;
  --yellow600: #ff9a00;
  --yellow700: #f78000;
  --yellow800: #db5600;
  --yellow900: #b94100;
  --red50: #fbf1ef;
  --red80: #ffd4cc;
  --red100: #ffaea1;
  --red200: #ff8d7c;
  --red300: #fe6a54;
  --red400: #fa5b4a;
  --red500: #ec4937;
  --red600: #dd3c2a;
  --red700: #c83323;
  --red800: #aa2a1b;
  --red900: #8d2115;
}
